body {
    background-image: url("img/jandi.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}
h1 {
    color: goldenrod;
    font-size: 100px;
    font: italic;
}
#message-el {
    text-align: center;
    color: white;
    font-style: italic;
}

.hidden {
    display: none;
}

p {
    margin: 30px;
}

button {
    border: 3px solid goldenrod;
    border-radius:  5px;
    background-color: rgb(15, 11, 11);
    width: 200px;
    height: 40px;
    color: wheat;
    cursor: pointer;
    box-shadow: 3px 3px 3px goldenrod;
    margin: 20px;
}