.container {
    border: 5px solid #ffcc5c;
    display: flex;
    flex-direction: row;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.home {
    align-self: flex-start;
}
.logout {
    align-self: flex-end;
}
